{% extends 'base.html' %}

{% block head %} 
    <title>TeamA7 Project About Page</title>
{% endblock %}

{% block bodywithmargin %}
<div class = "container" style="padding:10%">
    <h1>TeamA7 Project About Page</h1>
    <div class = "container" style="padding: 10% 0%">
        <h1 style="padding-bottom:1%">About Our Project</h1>
        <p>For our Software Lab Project we decided to create a database focusing on board games,
            board game genres, and board game publishers.As individuals who spend a lot of time
            with friends playing video games, board games, and other group activities we determined
            that this database would be useful for friends to find games, genres, and publishers that
            they might enjoy based off of games they've played before.</p>
        <p>As a team we initially delegated tasks so that each person was responsible for managing one
            model and worked to build up our vision for the site from there. In planning our project we
            discussed what information from our API resources would be relevant to our users and prioritized
            displaying that information.  For Phase II, we shifted to dividing up work into API and database
            management, front-end coding, testing, which again changed as the project progressed and we resorted
            to more peer programming. We used html, css, JavaScript (jquery), and python (flask) for building this
            project and tested the site using selenium and python unittest. We used Bootstrap to implement many of
            the design features and the Google Cloud SDK to deploy the site.</p>
        <p>For Phase I of our project we primarily used <a href="https://www.boardgameatlas.com/api/docs">Board Game Atlas</a>.
            Our other APIs for the project are <a href="https://boardgamegeek.com/wiki/page/BGG_XML_API2">Board Game Geek</a>
            and <a href="https://developers.google.com/custom-search/v1/overview">Google Developer's Customer Search JSON API</a>
            (for Board Game Companies). An interesting observation we made when searching for a reliable API was the majority of
            database sites for board game data cite Board Game Geek as the API they use. Some of the sites claiming to be their
            own API even waited until the acknowledgements to recognize that their data was sourced from the Board Game Geek API.</p>
        <p>Our code can be viewed on GitHub <a href="https://github.com/UT-SWLab/TeamA7">here.</a></p>
    </div>
    <h1>About Our Team</h1>
        <h2>Allegra Thomas</h2>
        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 5th year ECE major with software engineering as my primary tech core and academic enrichment as my secondary. I’m also a double major in radio-television-film. My hobbies include skateboarding and screaming into the void.</p>
            <p>Phase I Project Responsibilities: Creating the board game pages.<br>
                Phase II: API calls and MongoDB Database Management.<br>
                Phase III: MongoDB Database Management and improvement, filtering, filtering testing.</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src= '{{url_for("static", filename="Allegra.png")}}' style="max-width:100%; max-height:100%">
            </div>
        </div>
        <h2>Grant Ross</h2>
        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 4th year ECE major with software engineering as my primary tech core. I’m currently interested in pursuing game development. In my free time I like to make music on FL Studio. </p>
            <p>Phase I Project Responsibilities: Phase I leader. Creating the board game genres pages.<br>
                Phase II: Front End UI UX.<br>
                Phase III: Front End UI UX updating, model sorting, and search testing.</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src='{{url_for("static", filename="Grant.png")}}' style="max-width:100%">
            </div>
        </div>
        <h2>Cedrik Ho</h2>
        <div class="row">
            <div class="col-sm-7">
                <p>I am a 4th year ECE major with a focus in software design. I like to play soccuer and my favorite team is Manchester United.</p>
                <p>Phase I Project Responsibilities: creasting publishers pages. <br>
                    Phase II: Publisher API and Database Management.<br>
                    Phase III: Filtering implementation and sorting testing.</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src='{{url_for("static", filename="Cedrik.jpg")}}' class="img-fluid" style="max-width:100%;  max-height:100%">
            </div>
        </div>
        <h2>Sanne Bloemsma</h2>

        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 3rd year ECE major with software engineering as my tech core. I love gardening and have a number of plants.</p>
            <p>Phase I Project Responsibilities: Creating the about and home pages.<br>
                Phase II: Phase II leader. MongoDB database management and site Testing.<br>
                Phase III: Searching and database testing.</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src='{{url_for("static", filename="Sanne.jpg")}}' style="max-width:100%; max-height:100%">
            </div>
        </div>
        </div>
{% endblock %}