{% extends 'base.html' %}

{% block head %} 
    <title>TeamA7 Project About Page</title>
{% endblock %}

{% block bodywithmargin %}
    <div = container style="padding-top: 100px; padding-bottom:100px; padding-right:10%;padding-left:10%">
    <h1>Our Team</h1>
    
        <h2>Allegra Thomas</h2>
        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 5th year ECE major with software engineering as my primary tech core and academic enrichment as my secondary. I’m also a double major in radio-television-film. My hobbies include skateboarding and screaming into the void.</p>
            <p>Phase I Project Responsibilities: Creating the board game pages. </p>
            <p>Phase II and on: API calls and database management.</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src={{url_for('static', filename='Allegra.png')}} style="max-width:100%; max-height:100%">
            </div>
        </div>
        <h2>Grant Ross</h2>
        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 4th year ECE major with software engineering as my primary tech core. I’m currently interested in pursueing game development.</p>
            <p>Phase I Project Responsibilities: Phase I leader. Creating the board game genres pages. </p>
            <p>Phase II and on: </p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src={{url_for('static', filename='Grant.png')}} style="max-width:100%">
            </div>
        </div>
        <h2>Cedrik Ho</h2>
        <div class="row">
            <div class="col-sm-7">
                <p>I am a 4th year ECE major with a focus in software design.</p>
                <p>Phase I Project Responsibilities: creasting publishers pages. </p>
                <p>Phase II and on: .</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src={{url_for('static', filename='Cedrik.jpg')}} class="img-fluid" style="max-width:100%;  max-height:100%">                
            </div>
        </div>
        <h2>Sanne Bloemsma</h2>

        <div class="row">
            <div class="col-sm-7">
            <p>I’m a 3rd year ECE major with software engineering as my tech core.</p>
            <p>Phase I Project Responsibilities: Creating the about and home pages. </p>
            <p>Phase II and on: .</p>
            </div>
            <div class="col-sm-5 align-content-center">
                <img src={{url_for('static', filename='Sanne.jpg')}} style="max-width:100%; max-height:100%">
            </div>
        </div>
        </div>
{% endblock %}