<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
        background-image: url('/static/NeutralBackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 96% 100%;
        background-position: center;
    }
  </style>
{% block head %} {% endblock %}
</head>
<body style="background-color: #3a3a3d;">
     <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
         <a class = "navbar-brand" href="/" ><img src = "https://media.istockphoto.com/vectors/board-game-icon-icon-illustration-vector-id922028724" alt="Logo" style="width:40px;"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id = "navbarSupportedContent">
         <ul class = "navbar-nav mr-auto">
             <li class="nav-item"><a class ="nav-link" id = "aboutnav" href="/about">About</a></li>
                <li class="nav-item"><a class ="nav-link" id = "boardgamesnav" href="/boardgames/normal/1/nofilters">Board Games</a></li>
                <li class="nav-item"><a class ="nav-link" id = "genresnav" href="/boardgamegenres/normal/1/nofilters">Board Game Genres</a></li>
                <li class="nav-item"><a class ="nav-link" id = "publishersnav" href="/boardgamepublishers/normal/1/nofilters">Board Game Publishers</a></li>
            </ul>

             <form class="form-inline" action ="/search" method="POST">
                 <input type = "hidden" name="modeltype" value='{% block model_type %}all{% endblock %}' style="width:0%">
                <input class="form-control mr-sm-2" type="text" placeholder="{% block searchplaceholder %}Search games, genres, publishers{% endblock %}" name="search" style="width:300px">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
             </form>
         </div>
    </nav>

<div style= "padding-left:40px;padding-right:40px;">
{% block bodywithmargin %} {% endblock %}
</div>
</body>
</html>