{% extends 'base.html' %}
{% block model_type %}boardgames{% endblock %}
{% block searchplaceholder %}Search games{% endblock %}
{% block head %}
    <title>Board Games</title>
    <script>

    </script>
    <style>
        [title="entry"]{
            color: #bf6402;
            font-size: smaller;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        </style>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Board Games</h1>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" style="width: 100%">
                    <img src='{{ game["Image_URL"] }}' style="max-width:100%;width: 500px;object-fit: cover;">
          <br>
        <br>
        <h5>Players: {{ game['Min_Players'] }}-{{ game['Max_Players'] }}</h5>
        {% if game['Min_Playtime'] != game['Max_Playtime'] %}
            <h5>Playtime: {{ game['Min_Playtime'] }}-{{ game['Max_Playtime'] }} minutes</h5>
        {% else %}
            <h5>Playtime: {{ game['Min_Playtime'] }} minutes</h5>
        {% endif %}
             <h5>Year Published: {{ game['Year_Published'] }}</h5>
        <form action="/publisher" method="POST">
            <h4>Publisher:
                <button type="submit" class="btn btn-link" title="entry" name= "publishername" id="publishername" value='{{game["Publisher"]}}'>{{ game['Publisher'] }}</button>
            </h4>
        </form>

        <form action="/genre" method="POST">
            <h4>Genres:
                {% for genre in game["genres"] %}
                    <button type="submit" class="btn btn-link" title="entry" name= "genrename" id="genrename" value='{{ genre }}'>{{ genre }}</button>
                {% endfor %}
            </h4>
        </form>
      </div>
      <div class="col-sm-8" style="justify-content: center">
        <h2>{{ game['Name'] }}</h2>
        <hr>
        <h5>Description:</h5>
          <p>{{ game['Description'].replace("<br />", '').replace("<p>", '').replace("</p>", '').replace("<em>", '').replace("</em>", '') }}</p>
          <br>
          <br>
        <div>
            <h5>Related Games</h5>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}

