{% extends 'boardgames.html' %}

{% block head %} 
    <title>Board Games List</title>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
  		<a href="/ApplestoApples">
	  		<img class="card-img-top" src={{url_for('static', filename='Apples to Apples.png')}} alt="Apples to Apples">
	  	</a>
	  <div class="card-body">
	    <h4 class="card-title">Apples to Apples</h4>
	    <p class="card-text">Genre: <a href="/PartyGames">Party Games</a>
	    	<br>
	    	Publisher: <a href="/Mattel">Mattel</a></p>
	  </div>
	</div>
  </div>
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
  		<a href="/Dominion">
	  		<img class="card-img-top" src={{url_for('static', filename='Dominion.png')}} alt="Dominion">
	  	</a>
	  <div class="card-body">
	    <h4 class="card-title">Dominion</h4>
	    <p class="card-text">Genre: <a href="/DeckBuilders">Deck Builders</a>
	    	<br>
	    	Publisher: <a href="/RioGrandeGames">Rio Grande Games</a></p>
	  </div>
	</div>
  </div>
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
  		<div class="card h-100" style="width:100%">
  		<a href="/Scrabble">
	  		<img class="card-img-top" src={{url_for('static', filename='Scrabble.png')}} alt="Scrabble">
	  	</a>
	  <div class="card-body">
	    <h4 class="card-title">Scrabble</h4>
	    <p class="card-text">Genre: <a href="/WordGames">Word Games</a>
	    	<br>
	    	Publisher: <a href="/Hasbro">Hasbro</a></p>
	  </div>
	</div>
  </div>
</div>

{% endblock %}