{% extends 'base.html' %}

{% block head %} 
    <title>Board Games</title>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Board Games</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        {% block image %}{% endblock %}
        <br>
        <br>
        <h5>Players: {% block players %}{% endblock %}</h5>
        <h5>Playtime: {% block playtime%}{% endblock %}</h5>
        <h5>Year Published: {% block publishyear%}{% endblock %}</h5>
        <h5>Publisher: {% block publisher%}{% endblock %}</h5>
        <h5>Genre: {% block genre%}{% endblock %}</h5>
      </div>
      <div class="col-sm-8">
        <h2>{% block name %}{% endblock %}</h2>
        <hr>
        <h5>Description:</h5>
        <p>{% block description %}{% endblock %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

