{% extends 'boardgames.html' %}

{% block body %}

<script>



</script>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img id="Image">
        <br>
        <br>
        <h5 id="Players">Players Placeholder</h5>
        <h5 id="Playtime">Playtime Placeholder</h5>
        <h5 id="Description">Year Published Placeholder</h5>
        <h5 id="Publisher">Publisher Placeholder</h5>
        <h5 id="Categories">Categories Placeholder</h5>
        <h5 id="Year_Published">Year Published Placeholder</h5>
        <h5 id="Min_Age">Min. Age Placeholder</h5>
        <h5 id="Official_Website">Official Website Placeholder</h5>
      </div>
      <div class="col-sm-8">
        <h2 id="Name">Name Placeholder</h2>
        <hr>
        <h5>Description:</h5>
        <p id="Description">The party game Apples to Apples consists of two decks of cards: Things and Descriptions. Each round, the active player draws a Description card (which features an adjective like "Hairy" or "Smarmy") from the deck, then the other players each secretly choose the Thing card in hand that best matches that description and plays it face-down on the table. The active player then reveals these cards and chooses the Thing card that, in his opinion, best matches the Description card, which he awards to whoever played that Thing card. This player becomes the new active player for the next round. Once a player has won a pre-determined number of Description cards, that player wins.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}