{% extends 'base.html' %}

{% block head %} 
    <title>Board Games</title>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Board Games</h1>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
          <img src= Image_URL width="100%" class="rounded">
        <br>
        <br>
        <h5>Players: {{ doc["Min_Players"] }}-{{ doc["Max_Players"] }} Players</h5>
        <h5>Playtime: {{ doc["Min_Playtime"] }}-{{ doc["Max_Playtime"] }} minutes</h5>
        <h5>Year Published: {{ doc["Year_Published"] }}</h5>
        <h5>Publisher: <a href="boardgamepublishers/{{ publisher_link }}" >{{ doc["Publisher"] }}</a></h5>
        <h5>Genre:
          <a href="">Category Placeholder</a>
        </h5>
      </div>
      <div class="col-sm-8">
        <h2>{{ doc["Name"] }}</h2>
        <hr>
        <h5>Description:</h5>
        <p>{{ doc["Description"] }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

