{% extends 'list_base.html' %}

{% block title %}Board Game List{% endblock %}
{% block pagetitle %}Board Games{% endblock %}
{% block objectlist %}{{gameobjects}}{% endblock %}
{% block model_type %}boardgames{% endblock %}

{% block searchplaceholder %}Search games{% endblock %}
{% block body %}

    <div class="row">
        {% for i in range((page-1)*12, ((page-1)*12)++12) %}
            {% if i < gameobjects.collection.count() %}
            {% set game = gameobjects[i] %}
            <div class="column" style="width:25%; height: 100%; justify-content: center;padding: 0% 1%">
                <form action= '/game' method="POST">
                    <button type="submit" class="btn btn-link" title="main" name="gamename" id="gamename" value= '{{game["Name"]}}' >{{game['Name']}}</button>
                    <br>
                    <button type="submit" class="btn btn-link" name="gamename" value= '{{game["Name"]}}'><img style="max-width:100%;width: 300px;object-fit: cover;" src='{{game["Image_URL"]}}' alt='{{game["Name"]}}'></button>
                </form>
                <div title="list">
                    <a>Players: {{ game["Min_Players"] }}-{{ game["Max_Players"] }}</a>
                    <br>
                    <a>Playtime: {{ game['Min_Playtime'] }}-{{ game['Max_Playtime'] }} minutes</a>
                    <br>
                    <a>Price: {{ game['Current_Price'] }}</a>
                </div>

<!--                <form action="/publisher" method="POST">-->
<!--                    <a>Publisher:-->
<!--                        <button type="submit" class="btn btn-link" title="list" name="publishername" id="publishername" value='{{ g["Publisher"] }}'>{{ g['Publisher'] }}</button>-->
<!--                    </a>-->
<!--                </form>-->
<!--                <form action="/genre" method="POST">-->
<!--                    <a>Genres:-->
<!--                            {% for genre in g["genres"] %}<button type="submit" class="btn btn-link" title="list" name="genrename" id="genrename" value='{{ genre }}'>{{ genre }}</button>{% endfor %}-->
<!--                    </a>-->
<!--                </form>-->
                </div>
                {% if i>0 and ((i++1)%4==0) %}
                    </div><div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}