{% extends 'boardgames.html' %}

{% block bodywithmargin %}
    
<h1 style = "font-size:30px; padding-top:100px; padding-bottom: 30px; padding-left: 30px">Board Games</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img src={{url_for('static', filename='Dominion.png')}} width="300px" class="rounded" alt="Dominion">
        <br>
        <br>
        <h5>Players: 2-4</h5>
        <h5>Playtime: 30 minutes</h5>
        <h5>Year Published: 2008</h5>
        <h5>Publisher: <a href="/RioGrandeGames">Rio Grande Games</a></h5>
        <h5>Genre: <a href="/DeckBuilders">Deck Builders</a></h5>
      </div>
      <div class="col-sm-8">
        <h2>Dominion</h2>
        <hr>
        <h5>Description:</h5>
        <p>"You are a monarch, like your parents before you, a ruler of a small pleasant kingdom of rivers and evergreens. Unlike your parents, however, you have hopes and dreams! You want a bigger and more pleasant kingdom, with more rivers and a wider variety of trees. You want a Dominion! In all directions lie fiefs, freeholds, and feodums. All are small bits of land, controlled by petty lords and verging on anarchy. You will bring civilization to these people, uniting them under your banner.
        <br><br>
        But wait! It must be something in the air; several other monarchs have had the exact same idea. You must race to get as much of the unclaimed land as possible, fending them off along the way. To do this you will hire minions, construct buildings, spruce up your castle, and fill the coffers of your treasury. Your parents wouldn't be proud, but your grandparents, on your mother's side, would be delighted."
        <br><br>
        —description from the back of the box
        <br><br>
        In Dominion, each player starts with an identical, very small deck of cards. In the center of the table is a selection of other cards the players can "buy" as they can afford them. Through their selection of cards to buy, and how they play their hands as they draw them, the players construct their deck on the fly, striving for the most efficient path to the precious victory points by game end.
        <br><br>
        Dominion is not a CCG, but the play of the game is similar to the construction and play of a CCG deck. The game comes with 500 cards. You select 10 of the 25 Kingdom card types to include in any given play—leading to immense variety.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}