{% extends 'base.html' %}

{% block head %} 
    <title>Board Games Genres List</title>
    <style>
    	.card {
    		margin-top: 30px;
    		margin-left: 20px;
    	}
	</style>
{% endblock %}

{% block bodywithmargin %}

<h1 style = "font-size:30px; padding-top:100px; padding-left: 30px">Board Games Genres</h1>

<div class="row">
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
		<a href="/PartyGames">
			<img class="card-img-top" src=https://funattic.com/app/uploads/2018/09/Best-Party-Board-Games-feat-img.jpg>
		  	<div class="card-body">
			<h4 class="card-title">Party Games</h4>
		  </div>
		</a>
	</div>
  </div>
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
		<a href="/DeckBuilders">
		  <img class="card-img-top" src="https://lethweb.files.wordpress.com/2017/07/46144-deck1.jpg?w=863">
		  <div class="card-body">
			<h4 class="card-title">Deck Builders</h4>
		  </div>
		</a>
	</div>
  </div>
  <div class="col-sm-4">
  	<div class="card h-100" style="width:100%">
		<a href="/WordGames">
		  <img class="card-img-top" src=https://amp.thenational.ae/image/policy:1.993885:1584454976/ac16-MAR-board-game-scrabble.jpg?f=16x9&w=1200&$p$f$w=00082c2>
		  <div class="card-body">
			<h4 class="card-title" >Word Games</h4>
		  </div>
		</a>
	</div>
  </div>
</div>

{% endblock %}