{% extends 'base.html' %}

{% block head %} 
    <title>Board Game Genres</title>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 30px; padding-left: 30px">Genre</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
          {% block image %}{% endblock %}
        <br>
        <br>
        <h5>Specializing Publisher: {% block publisher %}{% endblock %}</h5>
        <h5>Latest Game: {% block latestgame %}{% endblock %}</h5>
        <h5>Recommended Game: {% block game %}{% endblock %}</h5>
      </div>
      <div class="col-sm-8">
        <h2>{% block title %}{% endblock %}</h2>
        <hr>
        <h5>Description: </h5>
        <p>
            {% block description %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
