{% extends 'list_base.html' %}

{% block title %}Board Game Genres List{% endblock %}
{% block pagetitle %}Genres{% endblock %}

{% block body %}
    <div class="row">
        {% for i in range((page-1)*12, ((page-1)*12)++12) %}
            {% if i < genres.collection.count() %}
            {% set genre = genres[i] %}
            <div class="column" style="width:25%; height: 100%; justify-content: center;padding: 0% 1%">
                <form action= '/genre' method="POST">
                    <button type= "submit" class="btn btn-link" title="main" name ="genrename" id="genrename" value= '{{genre["Name"]}}' >{{genre['Name']}}</button>
                    <br>
                    <button type= "submit" class="btn btn-link" name ="genrename" value= '{{genre["Name"]}}' ><img style="max-width:100%;width: 300px;object-fit: cover;" src='{{genre["Image_URL"]}}' alt='{{genre["Name"]}}'></button>
                </form>
                <h6></h6>
                <form action="/publisher" method="POST">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="publisher_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publishers
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for publisher in genre["Publishers"] %}
                            {% if (g["Publishers"]) | length == 1 and publisher == None %}
                            None
                            {% elif publisher != None %}
                            <button type="submit" class="btn btn-link" title="list" name="publishername" id="publishername" value='{{ publisher }}'> {{ publisher }}</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <h6></h6>
                <form action="/game" method="POST">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="game_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Games
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for game in genre["Games"] %}<button type="submit" class="btn btn-link" title="list" name="gamename" id="gamename" value='{{ game }}'> {{ game }}</button>{% endfor %}
                        </div>
                    </div>
                </form>
            </div>
                {% if i>0 and ((i++1)%4==0) %}
                    </div><div class="row">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}