{% extends 'publishers.html' %}


{% block bodywithmargin %}
    
<h1 style = "font-size:30px; padding-top:100px; padding-bottom: 30px; padding-left: 30px">Publisher</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
      
        <img class="card-img-top" src={{url_for('static', filename='Hasbro.png')}} alt="rio-grande-games-logo" width="300" height="300">
  
        <br>
        <br>
        <h5>Founded 1923</h5>
        <h5>Genre They Specialize In: <a href="/WordGames">Word Games</a> </h5>
        <h5>Latest Game: GodZilla Warfare</h5>
        <h5>Recommended Game: <a href="/Scrabble">Scrabble</a> </h5>
      </div>
      <div class="col-sm-8">
        <h2>Hasbro</h2>
        <hr>
        <h5>Description:</h5>
        <p>Hasbro, Inc. is the modern day company that originated as the Hassenfeld Brothers. It is an American multinational conglomerate with toy, board game, and media assets, headquartered in Pawtucket, Rhode Island. It's board game division is well known in the board game community and they were one of the pionners of board game culture in North America. 
        <br><br>
        — Our Favorite Hasbro Board Game
        <br><br>
        Apples to Apples is a family classic for all ages. Easy to learn and impossible to put down!
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
