{% extends 'base.html' %}

{% block head %}
    <title>TeamA7 Project Home</title>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px;"> Monthly Board Game News</h1>


    <h2>  Top Three Board game Publishers as of October 2020</h2>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href= "/RioGrandeGames"> >
              <img class="card-img-top" src={{url_for('static', filename='rio-grande-games-logo.png')}} alt="RioGrandeGames"width="600" height="500">  </a>
          </div>

          <div class="carousel-item">
            <a href="/Mattel" >
              <img class="card-img-top" src={{url_for('static', filename='mattelImage.jpg')}} alt="mattelImage"width="600" height="500"> </a>
          </div>

          <div class="carousel-item">
              <a href="/Hasbro" >
                <img class="card-img-top" src={{url_for('static', filename='Hasbro.png')}}
                alt="Hasbro" width="600" height="500">     </a>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
    <p> Click on the Company Logos to Learn more about the Publishers website. </p>


      <br></br>
{% endblock %}