{% extends 'base.html' %}

{% block head %}
    <title>TeamA7 Project Home</title>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "padding-top:75px;"> Welcome!</h1>
    <div id= "publishersection" class = "container">
        <h2>Featured Board Game Publishers</h2>

        <div id="pubs" class="carousel slide" data-ride="carousel" style="padding: 5% 25%; width: 100%;">
            <ul class="carousel-indicators">
                <li data-target="#pubs" data-slide-to="0" class="active"></li>
                <li data-target="#pubs" data-slide-to="1"></li>
                <li data-target="#pubs" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" style="max-height:100%">
                <div class="carousel-item active">
                    <a href= "/RioGrandeGames"><img class="img-fluid" src={{url_for('static', filename='rio-grande-games-logo.png')}} alt="RioGrandeGames" style="width:100%"></a>
                </div>
                <div class="carousel-item">
                    <a href="/Mattel"><img class="img-fluid" src={{url_for('static', filename='mattelImage.jpg')}} alt="mattelImage" style="width:100%"> </a>
                </div>
                <div class="carousel-item">
                    <a href="/Hasbro"><img class="img-fluid" src={{url_for('static', filename='Hasbro.png')}} alt="Hasbro" style="width:100%"></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#pubs" data-slide="prev" style="background-color:black"><span class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next" href="#pubs" data-slide="next" style="background-color:black"><span class="carousel-control-next-icon"></span></a>
        </div>
    </div>
    <div id= "publishersection" class = "container">
        <h2>Featured Board Games</h2>

        <div id="gams" class="carousel slide" data-ride="carousel" style="padding: 5% 25%; width: 100%;">
            <ul class="carousel-indicators">
                <li data-target="#gams" data-slide-to="0" class="active"></li>
                <li data-target="#gams" data-slide-to="1"></li>
                <li data-target="#gams" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" style="max-height:100%">
                <div class="carousel-item active">
                    <form action="/game" method="POST"><button type = "submit" name = "gamename" value="{{ games[0]["Name"]}}"><img class="img-fluid" src={{games[0]["Image_URL"]}} alt="{{games[0]["Name"]}}" style="width:100%"></button></form>
                </div>
                <div class="carousel-item">
                    <form action="/game" method="POST"><button type = "submit" name = "gamename" value="{{ games[1]["Name"]}}"><img class="img-fluid" src={{games[1]["Image_URL"]}} alt="{{games[1]["Name"]}}" style="width:100%"></button></form>
                </div>
                <div class="carousel-item">
                    <form action="/game" method="POST"><button type = "submit" name = "gamename" value="{{ games[2]["Name"]}}"><img class="img-fluid" src={{games[2]["Image_URL"]}} alt="{{games[2]["Name"]}}" style="width:100%"></button></form>
                </div>
            </div>
            <a class="carousel-control-prev" href="#gams" data-slide="prev" style="background-color:black"><span class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next" href="#gams" data-slide="next" style="background-color:black"><span class="carousel-control-next-icon"></span></a>
        </div>
    </div>
    <div id= "publishersection" class = "container">
        <h2>Featured Board Games Genres</h2>

        <div id="gens" class="carousel slide" data-ride="carousel" style="padding: 5% 25%; width: 100%;">
            <ul class="carousel-indicators">
                <li data-target="#gens" data-slide-to="0" class="active"></li>
                <li data-target="#gens" data-slide-to="1"></li>
                <li data-target="#gens" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner" style="max-height:100%">
                 <div class="carousel-item active">
                    <form action="/genre" method="POST"><button type = "submit" name = "genrename" value="{{ genres[0]["Name"]}}"><img class="img-fluid" src={{genres[0]["Image_URL"]}} alt="{{genres[0]["Name"]}}" style="width:100%"></button></form>
                </div>
                <div class="carousel-item">
                    <form action="/genre" method="POST"><button type = "submit" name = "genrename" value="{{ genres[1]["Name"]}}"><img class="img-fluid" src={{genres[1]["Image_URL"]}} alt="{{genres[1]["Name"]}}" style="width:100%"></button></form>
                </div>
                <div class="carousel-item">
                    <form action="/genre" method="POST"><button type = "submit" name = "genrename" value="{{ genres[2]["Name"]}}"><img class="img-fluid" src={{genres[2]["Image_URL"]}} alt="{{genres[2]["Name"]}}" style="width:100%"></button></form>
                </div>
            </div>
            <a class="carousel-control-prev" href="#gens" data-slide="prev" style="background-color:black"><span class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next" href="#gens" data-slide="next" style="background-color:black"><span class="carousel-control-next-icon"></span></a>
        </div>
    </div>
{% endblock %}