{% extends 'base.html' %}

{% block head %}
    <title>{% block title %}{% endblock %}</title>
    <script>
        var elements = document.getElementsByClassName("column");
        var i;
        function listView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "100%";
            }
        }
        function gridView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "25%";
            }
        }
        function getLink(inputstring) {
            var linkstring = ""
            linkstring = linkstring.concat(inputstring.replace(/\W/g, ''));
            return linkstring
        }
        function link(page_route, sort, page, filter){
            alert(filter);
            return page_route + sort + '/' + page + '/' + filter;
        }
    </script>
    <style>
        .row{
            width: 100%; justify-content: center; padding: 5% 5%; max-height: 50%;
        }
        [title="main"]{
            justify-content: center;
            color: black;
            font-size: larger;
            font-family: Cambria;
            text-align: center;
            text-anchor: middle;
        }
        [title="list"]{
            color: #bf6402;
            font-size: smaller;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        [title="list2"]{
            color: black;
            font-size: large;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        [title="list_button"]{
            color: #3e5d85;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
        }

    </style>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">{% block pagetitle %}{% endblock %} Page {{ page }}</h1>
    <form class="form-inline" action ="/search" method="POST" style="margin: 1%">
        <input type = "hidden" name="modeltype" value='{% block model_type %}{% endblock %}' style="width:0%">
        <input class="form-control mr-sm-2" type="text" placeholder="Search games" name="search" style="width: 60%">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
<div style="margin-left:60px;">
    <h3>
        View Style:
        <button title="list_button" onclick="listView()">List</button>

        <button title="list_button" onclick="gridView()">Grid</button>
    </h3>
</div>

<h5></h5>
<div class="dropdown" style="margin-left:60px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% if sort_type != 'normal' %}<button class="btn btn-link" title="list2" onclick="window.location.href = link({{page_route}}, 'normal', {{page}}, {{filters}})">normal</button>{% endif %}
    {% if sort_type != 'alphabetical' %}<button class="btn btn-link" title="list2" onclick="window.location.href = link({{page_route}}, 'alphabetical', {{page}}, 'nofilters')">alphabetical</button>{% endif %}
    {% if sort_type != 'inverse' %}<button class="btn btn-link" title="list2" onclick="window.location.href = {{page_route}} + 'inverse/' + {{page}}">inverse alphabetical</button>{% endif %}

    </div>
</div>
<h5></h5>
<nav aria-label="Page nav" style="margin-left:20px;">
  <ul class="pagination">
      {% if page != 1 %}
    <li class="page-item"><a class="page-link" onclick="window.location.href = link({{page_route}}, 'normal', {{page-1}}, {{filters}})">Previous</a></li>
      {% endif %}
      {% for i in range(1, max_pages+1) %}
        {% if i == page %}
         <li class="page-item active"><a class="page-link" onclick="window.location.href = link({{page_route}}, 'normal', {{i}}, 'nofilters')">{{ i }}</a></li>
        {% else %}
         <li class="page-item"><a class="page-link" onclick="window.location.href = link({{page_route}}, 'normal', {{i}}, 'nofilters')">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page != max_pages %}
    <li class="page-item"><a class="page-link" onclick="window.location.href = link({{page_route}}, 'normal', {{page+1}}, {{filters}})">Next</a></li>
      {% endif %}
  </ul>
</nav>
{% block body %}{% endblock %}
{% endblock %}