{% extends 'base.html' %}

{% block head %}
    <title>{% block title %}{% endblock %}</title>

    <script>


        var elements = document.getElementsByClassName("column");
        var i;

        var filter = '';

        //alert(filter);
        console.log(filter);

        function listView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "100%";
            }
        }
        function gridView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "25%";
            }
        }
        function getLink(inputstring) {
            var linkstring = ""
            linkstring = linkstring.concat(inputstring.replace(/\W/g, ''));
            return linkstring
        }

       function getFilter(){
           // alert('hit getfilter')
            return filter;
        }


       function setfilterbase(filterbase){
            filter = filterbase;
           // alert('inside setfilterbase');
            //alert(filter);
       }

    function  buildFilterString(newfilter){
            //alert('Hit buildfilter');
            filter =  filter.concat(newfilter);
            //alert(filter);
        }

$( document ).ready(function() {

          //to check box of current filter
          currentfilterindex = window.location.href.lastIndexOf('/')
          currentfilter = window.location.href.substring(currentfilterindex+1)

          if (currentfilter == "1_Hour_or_More"){
            document.getElementById("checkbox1").checked = true
          }
          if (currentfilter == "1_Hour_or_Less"){
            document.getElementById("checkbox2").checked = true
          }
          if (currentfilter == "30_Minutes_or_Less"){
            document.getElementById("checkbox3").checked = true
          }
          if (currentfilter == "Players:_2"){
            document.getElementById("checkbox4").checked = true
          }
          if (currentfilter == "Players:_3"){
            document.getElementById("checkbox5").checked = true
          }
          if (currentfilter == "Players:_4"){
            document.getElementById("checkbox6").checked = true
          }
          if (currentfilter == "Players:_5%20+"){
            document.getElementById("checkbox7").checked = true
          }
          if (currentfilter == "Average_Price:_$30_or_More"){
            document.getElementById("checkbox8").checked = true
          }
          if (currentfilter == "Average_Price:_$30_or_Less"){
            document.getElementById("checkbox9").checked = true
          }
          if (currentfilter == "Average_Price:_$15_or_Less"){
            document.getElementById("checkbox10").checked = true
          }
          if (currentfilter == "Average_Playtime:_30_minutes_or_Less"){
            document.getElementById("checkbox11").checked = true
          }
          if (currentfilter == "Average_Playtime:_30_Minutes_or_More"){
            document.getElementById("checkbox12").checked = true
          }
          if (currentfilter == "Average_Price:_$30_or_More_Double"){
            document.getElementById("checkbox13").checked = true
          }
          if (currentfilter == "Average_Price:_$30_or_Less_Publisher"){
            document.getElementById("checkbox14").checked = true
          }
          if (currentfilter == "Average_Price:_$15_or_Less_Publisher"){
            document.getElementById("checkbox15").checked = true
          }
          if (currentfilter == "Average_Playtime:_30_minutes_or_Less"){
            document.getElementById("checkbox16").checked = true
          }
          if (currentfilter == "Average_Playtime:_30_Minutes_or_More"){
            document.getElementById("checkbox17").checked = true  
          } 
});
  

        function link(page_route, sort, page, filter){
            return '/' + page_route + '/' + sort + '/' + page + '/' + filter;
        }

        function linkResetFilter(page_route, sort, page, filter){
            return '/' + page_route + '/' + sort + '/' + page + '/' + filter;
        }


    function loadNewFilter(filter){
      window.location.href = link('{{page_route}}', '{{sort_type}}', '1', filter );
      }

    function Testfunc(){ alert('hit test funct'); }


    function TurnOffGameFilter() {
        document.getElementById("FiltersForGames").style.display = "none";
    }

    function TurnOffGenreFilter() {
        document.getElementById("FiltersForGenres").style.display = "none";
    }

    function TurnOffPublisherFilter() {
        document.getElementById("FiltersForPublisher").style.display = "none";
    }

    function dropdownStayDown() {
        document.getElementById('FiltersForGames').addEventListener('click', function (event) {
    event.stopPropagation();}); }

    </script>
    <style>
        .row{
            width: 100%; justify-content: center; padding: 5% 5%; max-height: 50%;
        }
        .list{
            color: #bf6402;
            font-size: medium;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        .list2{
            color: black;
            font-size: large;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        .list_button{
            color: #3e5d85;
            font-size: large;
            font-family: Cambria;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
        }
        [title="main"]{
            justify-content: center;
            color: #3e5d85;
            font-size: larger;
            font-family: Cambria;
            text-align: center;
            text-anchor: middle;
        }
        [title="list"]{
            color: #bf6402;
            font-size: medium;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        [title="list2"]{
            color: black;
            font-size: large;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        [title="list_button"]{
            color: #3e5d85;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
        }

    </style>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">{% block pagetitle %}{% endblock %} Page {{ page }}</h1>
<div style="margin-left:60px;">
    <h4>
        View Style:
        <button class="list_button" onclick="listView()">List</button>

        <button class="list_button" onclick="gridView()">Grid</button>
    </h4>
</div>



<div class="row" style="width: 50%;justify-content: left;padding: 0% 1%">
    <div style="margin-left:60px;"><h4>Sorting and Filters:</h4></div>
    <div class="column">
<div class="dropdown" style="margin-left:60px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="sort_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if sort_type != 'normal' %}<button class="btn btn-link list2" onclick="window.location.href = link('{{page_route}}', 'normal', '{{page}}', '{{filters}}')">Default</button>{% endif %}
        {% if sort_type != 'alphabetical' %}<button class="btn btn-link list2" onclick="window.location.href = link('{{page_route}}', 'alphabetical', '{{page}}', '{{filters}}')">A-Z</button>{% endif %}
        {% if sort_type != 'inverse' %}<button class="btn btn-link list2" onclick="window.location.href = link('{{page_route}}', 'inverse', '{{page}}', '{{filters}}')">Z-A</button>{% endif %}
        {% if sort_type != 'min-playtime' %}<button class="btn btn-link list2" onclick="window.location.href = link('{{page_route}}', 'min-playtime', '{{page}}', '{{filters}}')">Minimum Playtime</button>{% endif %}
        {% if sort_type != 'min-players' %}<button class="btn btn-link list2" onclick="window.location.href = link('{{page_route}}', 'min-players', '{{page}}', '{{filters}}')">Minimum Players</button>{% endif %}

        {% block sorts %}{% endblock %}
    </div>
</div>
    </div>
    <div class="column" >
<div class="dropdown" style="margin-left:60px;">
  <!-- Basic dropdown -->
  <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id = "FiltersForGames" >Filters for Games</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <a class="dropdown-item" href="#">
      <!-- Default unchecked -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox1"   onclick="loadNewFilter('1_Hour_or_More')">
        <label class="custom-control-label" for="checkbox1">1 Hour or More</label>
      </div>
        </a>

    <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox2"  onclick="loadNewFilter('1_Hour_or_Less')">
        <label class="custom-control-label" for="checkbox2">1 Hour or Less </label>
      </div>
    </a>
    <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox3"  onclick="loadNewFilter('30_Minutes_or_Less')">
        <label class="custom-control-label" for="checkbox3">30 Minutes or Less</label>
      </div>
    </a>

    <a class="dropdown-item" href="#">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="checkbox4"   onclick="loadNewFilter('Players:_2')">
    <label class="custom-control-label" for="checkbox4">Players: 2</label>
  </div>
</a>

 <a class="dropdown-item" href="#">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="checkbox5" onclick="loadNewFilter('Players:_3')" >
<label class="custom-control-label" for="checkbox5">Players: 3 </label>
</div>
</a>

      <a class="dropdown-item" href="#">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="checkbox6"  onclick="loadNewFilter('Players:_4')">
<label class="custom-control-label" for="checkbox6">Players: 4 </label>
</div>
</a>

           <a class="dropdown-item" href="#">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="checkbox7" onclick="loadNewFilter('Players:_5 +')" >
<label class="custom-control-label" for="checkbox7">Players: 5+</label>
</div>
</a>
      <a class="dropdown-item" href="#">
  <div class="custom-control custom-checkbox">
      <button class="btn btn-link" title="list2" onclick=" window.location.href = link('{{page_route}}', '{{sort_type}}', '{{page}}', 'nofilters' )">No Filters</button>
  </div>
</a>
</div>
  <!-- Basic dropdown -->
    </div>

<div class="dropdown" style="margin-left:60px;">
  <!-- Basic dropdown -->
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id = "FiltersForGenres">Filters for Genres</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

 <a class="dropdown-item" href="#">
      <!-- Default unchecked -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox8"  onclick="loadNewFilter('Average_Price:_$30_or_More')"  >
        <label class="custom-control-label" for="checkbox8">Average Price: $30 or More</label>
      </div>
        </a>

    <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox9"  onclick="loadNewFilter('Average_Price:_$30_or_Less')">
        <label class="custom-control-label" for="checkbox9">Average Price: $30 or Less</label>
      </div>
    </a>

       <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox10" onclick="loadNewFilter('Average_Price:_$15_or_Less')" >
        <label class="custom-control-label" for="checkbox10">Average Price: $15 or Less</label>
      </div>
    </a>

        <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox11" onclick="loadNewFilter('Average_Playtime:_30_minutes_or_Less')" >
        <label class="custom-control-label" for="checkbox11">Average Playtime: 30 Minutes or Less</label>
      </div>
    </a>

        <a class="dropdown-item" href="#">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox12"  onclick="loadNewFilter('Average_Playtime:_30_Minutes_or_More')">
        <label class="custom-control-label" for="checkbox12">Average Playtime: 30 Minutes or More</label>
      </div>
    </a>

      <a class="dropdown-item" href="#">
  <div class="custom-control custom-checkbox">
      <button class="btn btn-link" title="list2" onclick=" window.location.href = link('{{page_route}}', '{{sort_type}}', '{{page}}', 'nofilters' )">No Filters</button>
  </div>
</a>
</div>
  <!-- Basic dropdown -->

    </div>

<div class="dropdown" style="margin-left:60px;">
  <!-- Basic dropdown -->
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id = "FiltersForPublisher" >Filters for Publishers</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <a class="dropdown-item" href="#">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox13"  onclick="loadNewFilter('Average_Price:_$30_or_More_Double')">
            <label class="custom-control-label" for="checkbox13">Average Price: $30 or More</label>
          </div>
        </a>


        <a class="dropdown-item" href="#">
          <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox14" onclick="loadNewFilter('Average_Price:_$30_or_Less_Publisher')"  >
            <label class="custom-control-label" for="checkbox14">Average Price: $30 or Less</label>
          </div>
        </a>

        <a class="dropdown-item" href="#">
          <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox15"  onclick="loadNewFilter('Average_Price:_$15_or_Less_Publisher')" >
            <label class="custom-control-label" for="checkbox15">Average Price: $15 or Less</label>
          </div>
        </a>


        <a class="dropdown-item" href="#">
          <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox16"  onclick="loadNewFilter('Average_Playtime:_30_minutes_or_Less')" >
            <label class="custom-control-label" for="checkbox16">Average Playtime: 30 Minutes or Less</label>
          </div>
        </a>

        <a class="dropdown-item" href="#">
      <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox17" onclick="loadNewFilter('Average_Playtime:_30_Minutes_or_More')"  >
                <label class="custom-control-label" for="checkbox17">Average Playtime: 30 Minutes or More</label>
            </div>
        </a>

        <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
                <button class="btn btn-link" title="list2" onclick=" window.location.href = link('{{page_route}}', '{{sort_type}}', '{{page}}', 'nofilters' )">No Filters</button>
            </div>
        </a>
    </div>
</div>

    </div>
</div>



{% if page_route == 'boardgamegenres' %}
<script>

TurnOffGameFilter();
TurnOffPublisherFilter();

</script>
{% endif %}

{% if page_route == 'boardgames' %}
<script>
TurnOffPublisherFilter();
TurnOffGenreFilter();


</script>
{% endif %}

{% if page_route == 'boardgamepublishers' %}
<script>
TurnOffGameFilter();
TurnOffGenreFilter();
</script>
{% endif %}


{% if empty%}
<script>
TooManyFilters();
</script>
<p style="text-align:center">No Results</p>
{% endif %}

<h5></h5>
<nav aria-label="Page nav" style="margin-left: 60px;">
  <ul class="pagination">
      {% if page != 1 %}
    <li class="page-item"><a class="page-link" onclick="window.location.href = link('{{page_route}}', '{{sort_type}}', '{{page-1}}, '{{filters}}')">Previous</a></li>
      {% endif %}
      {% for i in range(1, max_pages+1) %}
        {% if i == page %}
         <li class="page-item active"><a class="page-link" onclick="window.location.href = link('{{page_route}}', '{{sort_type}}', '{{i}}', '{{filters}}')">{{ i }}</a></li>
        {% else %}
         <li class="page-item"><a class="page-link" onclick="window.location.href = link('{{page_route}}', '{{sort_type}}', '{{i}}', '{{filters}}')">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page != max_pages %}
    <li class="page-item"><a class="page-link" onclick="window.location.href = link('{{page_route}}', '{{sort_type}}', '{{page+1}}', '{{filters}}')">Next</a></li>
      {% endif %}
  </ul>
</nav>
{% block body %}{% endblock %}
{% endblock %}