{% extends 'genres.html' %}

{% block title %}Party Games{% endblock %}
{% block latestgame %}{% endblock %}
{% block image %}<img width="100%" src="https://funattic.com/app/uploads/2018/09/Best-Party-Board-Games-feat-img.jpg">{% endblock %}
{% block game %}<a href="/ApplesToApples">Apples to Apples</a>{% endblock %}
{% block publisher %}<a href="/Mattel">Mattel</a> {% endblock %}
{% block name%}<h2>Party Games</h2>{% endblock %}
{% block description %}<a>Party games are games that encourage social interaction. They generally have easy setups and simple rules, and they can accommodate large groups of people and play in a short amount of time.</a>{% endblock %}