{% extends 'base.html' %}
{% block model_type %}publishers{% endblock %}
{% block searchplaceholder %}Search publishers{% endblock %}
{% block head %}
    <title>Publishers</title>
    <style>
        [title="entry"]{
            color: #bf6402;
            font-size: smaller;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        </style>
{% endblock %}

{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Publisher</h1>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" style="width: 100%">
                    <br>
                    <br>
                    <img src='{{ publisher["Image_URL"] }}' style="max-width: 100%; justify-content: center">
                    <div title="list">
                        <h5>Average Game Price: ${{ publisher["Average_Price"] }}</h5>
                        <h5>Average Players: {{ publisher['Average_Min_Players'] }}-{{ publisher['Average_Max_Players'] }} minutes</h5>
                        <h5>Average Game Playtime: {{ publisher['Average_Playtime'] }} minutes</h5>
                    </div>
                    <form action='/game' method="POST">
                        <h4>Games by Publisher:
                        {% for game in publisher["Games"] %}
                            <button type= "submit" class="btn btn-link" title="entry" name = "gamename" id="gamename" value='{{ game }}'>{{ game }}</button>
                        {% endfor %}
                        </h4>
                    </form>
                    <form action='/genre' method="POST">
                        <h4>Genres Covered by Publisher:
                        {% for genre in publisher["Genres"] %}
                            <button type= "submit" class="btn btn-link" title="entry" name = "genrename" id="genrename" value='{{ genre }}'>{{ genre }}</button>
                        {% endfor %}
                        </h4>
                    </form>
                    </div>
                    <div class="col-sm-8" style="justify-content: center">
                    <h2>{{ publisher["Name"] }}</h2>
                    <hr>
                    <h5>Description:</h5>
                    <p>{{ publisher["Description"] }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

