{% extends 'base.html' %}

{% block head %}
    <title>Board Games Publisher List</title>
    <script>
        var elements = document.getElementsByClassName("column");
        var i;
        function listView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "100%";
            }
        }
        function gridView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "25%";
            }
        }
        function getLink(inputstring){
            var linkstring = ""
            linkstring = linkstring.concat(inputstring.replace(/\W/g, ''));
            return linkstring

        }
    </script>
    <style>
        #publishername{
            justify-content: center;
            color: black;
            font-size: larger;
            font-family: Cambria;
            text-align: center;
            text-anchor: middle;
        }
        #gamename{
            color: black;
            font-size: smaller;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
        #genrename{
            color: black;
            font-size: smaller;
            font-family: Cambria;
            text-align: left;
            text-anchor: start;
        }
    </style>
{% endblock %}
{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Publishers Page {{ page }}</h1>
    <button onclick="listView()">List</button>
    <button onclick="gridView()">Grid</button>
    <h5></h5>
    <nav aria-label="Page nav">
      <ul class="pagination">
          {% if page != 1 %}
        <li class="page-item"><a class="page-link" href="{{ page-1 }}">Previous</a></li>
          {% endif %}
          {% for i in range(1, 7) %}
            {% if i == page %}
             <li class="page-item active"><a class="page-link" href="{{ i }}">{{ i }}</a></li>
            {% else %}
             <li class="page-item"><a class="page-link" href="{{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page != 6 %}
        <li class="page-item"><a class="page-link" href="{{ page++1 }}">Next</a></li>
          {% endif %}
      </ul>
    </nav>
    <div class="row">
    {% for i in range ((page-1)*12, ((page-1)*12)++12) %}
        {% if i < 71 %} <!-- DUMB HARD CODING AH -->
            {% set g = gameobjects[i] %}
            {% set p = publishers[i] %}
                <div class="column" style="width:25%; height: 100%; justify-content: center;padding: 0% 1%">
                    <form action='/publisher' method="POST">
                        <button type= "submit" class="btn btn-link" name = "publishername" id="publishername" value='{{ p["Publisher"] }}'>{{ p["Publisher"] }}</button>
                        <button type= "submit" class="btn btn-link" name ="publishername" value= '{{ p["Publisher"] }}'><img style="max-width: 100%; height: auto; max-height: 50%;" src='{{p["Image_URL"]}}' alt='{{ p["Publisher"] }}'></button>
                    </form>
                    <form action= '/game' method="POST">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="publisher_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Games
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for game in p["Games"] %}
                                <button type="submit" class="btn btn-link" name="gamename" id="gamename" value='{{ game }}'> {{ game }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                    <h6></h6>
                    <form action="/genre" method="POST">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="game_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Genres
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for genre in p["Genres"] %}<button type="submit" class="btn btn-link" name= "genrename" id="genrename" value='{{ genre }}'> {{ genre }}</button>{% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
                {% if i>0 and ((i++1)%4==0) %}
            </div><div class="row">
                {% endif %}
        {% endif %}
    {%endfor%}
    <h5></h5>
        </div>






























{% endblock %}