{% extends 'base.html' %}

{% block head %}
    <title>Board Games Publisher List</title>
    <script>
        var elements = document.getElementsByClassName("column");
        var i;
        function listView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "100%";
            }
        }
        function gridView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "25%";
            }
        }
        function getLink(inputstring){
            var linkstring = ""
            linkstring = linkstring.concat(inputstring.replace(/\W/g, ''));
            return linkstring

        }
    </script>
    <style>
        #publishername{
            justify-content: center;
            color: black;
            font-size: larger;
            font-family: Cambria;
            text-align: center;
            text-anchor: middle;
        }
    </style>
{% endblock %}
{% block bodywithmargin %}
    <h1 style = "font-size:30px; padding-top:100px; padding-bottom: 25px; padding-left: 30px;">Publishers</h1>
    <button onclick="listView()">List</button>
    <button onclick="gridView()">Grid</button>

    <div class="row" style="width: 100%; justify-content: center">
        {% for i in range (0,12) %}
            <div class="column" style="width:25%; height: 25%; justify-content: center">
                <form action='/publisher' method="POST">
                    <button type= "submit" class="btn btn-link" name = "publishername" id="publishername" value='{{publishernames[i]}}'>{{publishernames[i]}}</button>
                </form>
                    <p>Categories: tobeadded</p>
                </div>
                {% if i>0 and ((i++1)%4==0) %}
                    </div><div class="row">
                {% endif %}
                {% endfor %}
        </div>
{% endblock %}