{% extends 'base.html' %}

{% block head %}
    <title>Board Game Publishers</title>
    <style>
    	.card {
    		margin-top: 30px;
    		margin-left: 20px;
    	}

    	.card-img-top{
    max-height:300px;
    max-width:300px;
    height:100%;
    width:100%;
}
	</style>
{% endblock %}

{% block bodywithmargin %}



    <h1 style = "font-size:30px; padding-top:100px;">Board Game Publishers</h1>


    <p>Welcome to the Board Games Publishers Page. We pride our selves on staying up to date on the latest board game publishers around the Globe </p>




    <h1 style = "font-size:30px; padding-top:100px; padding-left: 30px">Board Game Publishers</h1>

<div class="row">

  <div class="col-sm-4">
  	<div class="card" style="width:100%">
   <a href="/Mattel" >
	  <img class="card-img-top" src={{url_for('static', filename='mattelImage.jpg')}} alt="mattellimage"  > </a>
        <div class="card-body">
            <br>
            <h5>Founded 1945</h5>
        <h5>Genre They Specialize In:<a href="/WordGames">Word Games</a> </h5>
        <h5>Latest Game: Lizard Kings</h5>
        <h5>Recommended Game:<a href="/Scrabble">Scrabble</a> </h5>
	  </div>
	</div>
  </div>


  <div class="col-sm-4">
  	<div class="card" style="width:100%">
      <a href="/RioGrandeGames" >
    <img class="card-img-top" src={{url_for('static', filename='rio-grande-games-logo.png')}} alt="rio-grande-games-logo"  >
      </a>
	  <div class="card-body">
          <br>
        <h5>Founded 1996</h5>
        <h5>Genre They Specialize In:<a href="/PartyGames">Party Games</a> </h5>
        <h5>Latest Game: Dominion</h5>
        <h5>Recommended Game:<a href="/Dominion">Dominion</a> </h5>
	  </div>
	</div>
  </div>


  <div class="col-sm-4">
  	<div class="card" style="width:100%">
      <a href="/Hasbro" >
    <img class="card-img-top" src={{url_for('static', filename='Hasbro.png')}} alt="Hasbro" >
    </a>
	  <div class="card-body">
          <br>
        <h5>Founded 1923</h5>
        <h5>Genre They Specialize In:<a href="/DeckBuilders">DeckBuilder Games</a> </h5>
        <h5>Latest Game: Canary</h5>
        <h5>Recommended Game:<a href="/ApplestoApples">Apples to Apples</a> </h5>
	  </div>
	</div>
  </div>
</div>

{% endblock %}
