{% extends 'base.html' %}

{% block head %} 
    <title>Board Game Publishers</title>
{% endblock %}

{% block bodywithmargin %}
<h1 style = "font-size:30px; padding-top:100px; padding-bottom: 30px; padding-left: 30px">Publisher</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img src='doc["Image_URL"]' width="100%" class="rounded">
        <br>
        <br>
        <h5>Founded {{ doc[] }}</h5>
        <h5>Genre They Specialize In: {{ doc[] }}</h5>
        <h5>Latest Game: {{ doc[] }}</h5>
        <h5>Recommended Game: {{ doc[] }}</h5>
      </div>
      <div class="col-sm-8">
        <h2>{{ doc["Name"] }}}</h2>
        <hr>
        <h5>Description:</h5>
          <p>{{ doc[] }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
