{% extends 'publishers.html' %}


{% block bodywithmargin %}
    
<h1 style = "font-size:30px; padding-top:100px; padding-bottom: 30px; padding-left: 30px">Publisher</h1>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img class="card-img-top" src={{url_for('static', filename='rio-grande-games-logo.png')}} alt="rio-grande-games-logo" width="300" height="300">
        <br>
        <br>
        <h5>Founded 1996</h5>
        <h5>Genre They Specialize In:<a href="/PartyGames">Party Games</a> </h5>
        <h5>Latest Game: Dominion</h5>
        <h5>Recommended Game:<a href="/Dominion">Dominion</a> </h5>
      </div>
      <div class="col-sm-8">
        <h2>RioGrandeGames</h2>
        <hr>
        <h5>Description:</h5>
        <p>Rio Grande Games is a board game publisher based in Placitas, New Mexico. The company primarily imports and localizes foreign language German-style board games.In 1995, Jay Tummelson began working for Mayfair Games. At that time, Mayfair had begun to import German-style board games for sale, without doing any localization. Tummelson first suggested that they incorporate an English translation, and then that they completely localize the game for American audiences.Since then, Rio Grande Games has published over 350 games and has had a significant effect on board gaming in the United States.
        <br><br>
        — Our Favorite RioGrandeGame Board Game
        <br><br>
        Dominion is easy to learn and fun for all ages! We recommend this for small parties and get togethers. Even if few players have played before, it is easy to get started!s
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
