{% extends 'boardgames.html' %}

{% block body %}

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <img src={{url_for('static', filename='Scrabble.png')}} width="100%" class="rounded" alt="Scrabble">
        <br>
        <br>
        <h5>Players: 2-4</h5>
        <h5>Playtime: 90 minutes</h5>
        <h5>Year Published: 1948</h5>
        <h5>Publisher: <a href="/Hasbro">Hasbro</a></h5>
        <h5>Genre: <a href="/WordGames">Word Games</a></h5>
      </div>
      <div class="col-sm-8">
        <h2>Scrabble</h2>
        <hr>
        <h5>Description:</h5>
        <p>In this classic word game, players use their seven drawn letter-tiles to form words on the gameboard. Each word laid out earns points based on the commonality of the letters used, with certain board spaces giving bonuses. But a word can only be played if it uses at least one already-played tile or adds to an already-played word. This leads to slightly tactical play, as potential words are rejected because they would give an opponent too much access to the better bonus spaces.
        <br><br>
        Skip-a-cross was licensed by Selchow & Righter and manufactured by Cadaco. Both games have identical rules but Skip-a-cross has tiles and racks made of cardboard instead of wood. The game was also published because not enough Scrabble games were manufactured to meet the demand.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}