{% extends 'base.html' %}
{% block head %}
<title>Search Results for "{{input_string}}"</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var filteredresults;
      var current_page;
      var page_count;
      var sorttype;
      $(document).ready(function() {
        //setting up pagination
        filteredresults = $('tr');
        paginationupdate();
        pagechange(1);
        $('.searchfilters').hide();
        $('input[name="fields"]').val('all');
        //default checking different check boxes depending on the search's model_type
        if ('{{modeltype}}' == 'boardgames') {
          $('.showgenres,.showpublishers').parent().hide();
          $('.showgames').prop("checked", true);
        } else if ('{{modeltype}}' == 'genres') {
          $('.showgames,.showpublishers').parent().hide();
          $('.showgenres').prop("checked", true);
        } else if ('{{modeltype}}' == 'publishers') {
          $('.showgenres,.showgames').parent().hide();
          $('.showpublishers').prop("checked", true);
        } else {
          $('.showpublishers,.showgames,.showgenres').prop("checked", true);
        }
        //user toggled advance search, show options
        $('#searchtoggle,#modelselect').change( function(){
          $('')
          if($('#searchtoggle').prop("checked")==true){
            $('.searchfilters').show();
            $('.searchfilters').find('input').prop("checked", false);
            if($('#modelselect option:selected').val() == "boardgames"){
              $('.search-filter-notgame').hide();
              $('.search-filter-notgenre').show();
              $('.search-filter-notpublisher').show();
              $('#pubfields').text('board games');
              $('#genfields').text('board games');
            }
            else if($('#modelselect option:selected').val() == "genres"){
              $('.search-filter-notgenre').hide();
              $('.search-filter-notgame').show();
              $('.search-filter-notpublisher').show();
              $('#pubfields').text('genres');
              $('#gamfields').text('genres');
            }
            else if($('#modelselect option:selected').val() == "publishers"){
              $('.search-filter-notpublisher').hide();
              $('.search-filter-notgame').show();
              $('.search-filter-notgenre').show();
              $('#genfields').text('publishers');
              $('#gamfields').text('publishers');
            }
            else{
              $('.search-filter-notgame').show();
              $('.search-filter-notgenre').show();
              $('.search-filter-notpublisher').show();
              $('#genfields').text('games and publishers');
              $('#gamfields').text('genres and publishers');
              $('#pubfields').text('games and genres');
            }
          }
          else{
            $('.searchfilters').hide();
            $('input[name="fields"]').val('all');
          }
        })
        $('#searchbypublisherfield,#searchbygamefield,#searchdescriptions,#searchnames, #searchbygenrefield').click(function(){
          var fields = []
          if($('#searchnames').prop("checked")== true){
            fields.push('Name');
          }
          if($('#searchdescriptions').prop("checked")== true){
            fields.push('Description');
          }
          if($('#searchbygamefield').prop("checked")== true){
            fields.push('Games');
          }
          if($('#searchbygenrefield').prop("checked")== true){
            fields.push('genres');
          }
          if($('#searchbypublisherfield').prop("checked")== true){
            fields.push('Publisher');
          }
          $('input[name="fields"]').val(fields);
        });
        //user has changed what model_types they want to see on the results page
        $('.showgames,.showgenres,.showpublishers').click(function () {
          if ($('.showgames').prop("checked") == true)
            $('.gamerow').show();
           else
            $('.gamerow').hide();
          if ($('.showgenres').prop("checked") == true)
            $('.genrerow').show();
          else
            $('.genrerow').hide();
          if ($('.showpublishers').prop("checked") == true)
            $('.publisherrow').show();
          else
            $('.publisherrow').hide();
          filteredresults = $('tr:visible');
          handlegamefilters();
          paginationupdate();
          pagechange(1);
        });
        $('#age').change(function () {
          $('#ageval').text($('#age').val());
          if($('.gameagefilter').prop("checked")==true) {
            if ($('.showgames').prop("checked") == true) {
            $('.gamerow').show();
          } else {
            $('.gamerow').hide();
          }
          if ($('.showgenres').prop("checked") == true) {
            $('.genrerow').show();
          } else {
            $('.genrerow').hide();
          }
          if ($('.showpublishers').prop("checked") == true) {
            $('.publisherrow').show();
          } else {
            $('.publisherrow').hide();
          }
          filteredresults = $('tr:visible');
          handlegamefilters();
          }
        });
        $('#players').change(function () {
          $('#playernumber').text($('#players').val());
          if($('.gameplayersfilter').prop("checked")==true) {
            if ($('.showgames').prop("checked") == true) {
            $('.gamerow').show();
          } else {
            $('.gamerow').hide();
          }
          if ($('.showgenres').prop("checked") == true) {
            $('.genrerow').show();
          } else {
            $('.genrerow').hide();
          }
          if ($('.showpublishers').prop("checked") == true) {
            $('.publisherrow').show();
          } else {
            $('.publisherrow').hide();
          }
          filteredresults = $('tr:visible');
            handlegamefilters();
          }
        });
        $('.gameplayersfilter,.gameagefilter').click(function () {
          if ($('.showgames').prop("checked") == true) {
            $('.gamerow').show();
          } else {
            $('.gamerow').hide();
          }
          if ($('.showgenres').prop("checked") == true) {
            $('.genrerow').show();
          } else {
            $('.genrerow').hide();
          }
          if ($('.showpublishers').prop("checked") == true) {
            $('.publisherrow').show();
          } else {
            $('.publisherrow').hide();
          }
          filteredresults = $('tr:visible');
          handlegamefilters();
        });
      });
      function handlegamefilters(){
        //for each filtered result
        filteredresults.each( function() {
          if($(this).attr("class")=="gamerow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.gminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.gmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
            if($('.gameagefilter').prop("checked")==true){
              if (parseInt($(this).find('.gminage').text()) > $('#age').val()){
                  $(this).hide();
              }
            }
          }
          else if($(this).attr("class")=="genrerow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.genminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.genmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
          }
          if($(this).attr("class")=="publisherrow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.pminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.pmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
          }
        });
        filteredresults= $('tr:visible');
        sort(sorttype);
        paginationupdate();
        pagechange(1);
      }
      function paginationupdate(){
        $('#resultcount').text(filteredresults.length);
        page_count = Math.ceil(filteredresults.length/9);
        $('.pagination').children().remove();
        $('.pagination').append('<li class="page-item" name = "prev"><button class="btn btn-info" onclick="prevpage();">Previous</button></li>');
        for (let p = 1; p <= page_count; p++){
          $('.pagination').append('<li class="page-item"><button class="btn btn-info" onclick="pagechange('+p+');">'+p+'</button></li>');
        }
        $('.pagination').append('<li class="page-item" name = "next"><button class="btn btn-info" onclick="nextpage();">Next</button></li>');
      }
      function nextpage() {
        if (current_page<page_count){
            filteredresults.slice(0,(current_page)*9).hide();
            filteredresults.slice((current_page)*9,(current_page+1)*9).show();
            filteredresults.slice((current_page+1)*9,filteredresults.length).hide();
            current_page +=1;
        }
      }
      function prevpage(){
        if (current_page>1){
          current_page-=1;
          filteredresults.slice((current_page-1)*9, (current_page-1)*9+9).show();
          filteredresults.slice(0,(current_page-1)*9).hide();
          filteredresults.slice((current_page-1)*9+9,filteredresults.length).hide();
          }
      }
      function pagechange(p){
        //page number is passed in
        filteredresults.slice(0,(p-1)*9).hide();
        filteredresults.slice((p-1)*9,p*9).show();
        filteredresults.slice((p)*9,filteredresults.length).hide();
        current_page = p;
      }
      function sort(type){
        sorttype = type;
        if(type == 'A-Z'){
          filteredresults.sort(function(a,b){
            return $('td:first',a).find('strong').text().localeCompare($('td:first',b).find('strong').text());
          }).appendTo($('tbody'));
        }
        else if(type == 'Z-A'){
          filteredresults.sort(function(a,b){
            return $('td:first',b).find('strong').text().localeCompare($('td:first',a).find('strong').text());
          }).appendTo($('tbody'));
        }
        else if(type == "board games, genres, publishers"){
          filteredresults.show();
          var publishers = $('.publisherrow:visible');
          var genres = $('.genrerow:visible');
          var games = $('.gamerow:visible');
          $('tbody').prepend(games,genres,publishers);
          filteredresults = $('tr:visible');
        }
        else if(type == "publishers, genres, board games") {
          filteredresults.show();
          var publishers = $('.publisherrow:visible');
          var genres = $('.genrerow:visible');
          var games = $('.gamerow:visible');
          $('tbody').prepend(publishers,genres,games);
          filteredresults = $('tr:visible');
        }

        paginationupdate();
        pagechange(1);
      }
    </script>
  <style>
    .keywords{
      width: 10%;
    }
    tr{
      max-height: 10%;
    }
    td.name{
      width: 50%;
    }
    td.model{
      width: 10%;
    }
    td.image{
      width: 30%;
    }
  </style>
{% endblock %}
{% block bodywithmargin %}
<div class="container" style ="padding: 15% 0%">
  <div class="row">
    <div class="col-md-12">
      <div class="grid">
      <div class="grid-body">
        <div class="row">
          <div class="col-md-3">
            <h2>Filter Search Results</h2>
            <h4>Showing only:</h4>
            <div class="modelfilter">
              <label><input type="checkbox" class="showgames">  board games</label>
            </div>
            <div class="modelfilter">
              <label><input type="checkbox" class="showgenres">  genres</label>
            </div>
            <div class="modelfilter">
              <label><input type="checkbox" class = "showpublishers">  publishers</label>
            </div>
            <div class="gamefilters">
            <h5>Filter by:</h5>
            <div class ="gamefilter">
              <label for="players">Playable with <span id = "playernumber">5</span> players</label>
              <input type="range" id="players" min="1" max="10">
              <label><input type= "checkbox" class="gameplayersfilter"> Apply filter</label>
            </div>
              <div class ="gamefilter">
                <label for="age">Playable for a <span id = "ageval">9</span> year old</label>
              <input type="range" id="age" min="1" max="18">
              <label><input type= "checkbox" class="gameagefilter"> Apply filter</label>
            </div>
            </div>
          </div>
          <div class="col-md-9">
            <h2><span id="resultcount"></span> Search Results for "{{input_string}}"</h2>
            <hr>
            <form class="input-group" action ="/search" method="POST">
                <select class="browser-default custom-select" name="modeltype" id = "modelselect">
                  <option selected value='all'>all games, genres, and publishers</option>
                  <option value='boardgames'>board games</option>
                  <option value='genres'>genres</option>
                  <option value='publishers'>publishers</option>
                </select>
                <input class="form-control mr-sm-2" type="text" placeholder='' name="search">
                <button class="btn btn-outline-info my-sm-0" type="submit">Search</button>
              <input type="hidden" name = "fields" value = "all" style="display: none">
              </form>
                <div class = "searchfilterstoggle">
                  <input type="checkbox" id="searchtoggle">
                  <label class="form-check-label" for="searchtoggle">Advanced Search</label>
                </div>
                <div class = "searchfilters">
                  <div class = "search-filter-all">
                  <input type="checkbox" id="searchnames">
                  <label class="form-check-label" for="searchnames">Search Titles and Names</label>
                </div>
                <div class="search-filter-all">
                  <input type="checkbox" id="searchdescriptions">
                <label class="form-check-label" for="searchdescriptions">Search Descriptions</label>
                </div>
                  <div class = "search-filter-notpublisher">
                  <input type="checkbox" id="searchbypublisherfield">
                    <label class="form-check-label" for="searchbypublisherfield">Search <span id="pubfields">games and genres</span> with this publisher</label>
                  </div>
                  <div class = "search-filter-notgenre">
                    <input type="checkbox" id="searchbygenrefield">
                <label class="form-check-label" for="searchbygenrefield">Search <span id="genfields">games and publishers</span> with this genre</label>
                  </div>
                  <div class = "search-filter-notgame">
                    <input type="checkbox" id="searchbygamefield">
                <label class="form-check-label" for="searchbygamefield">Search <span id="gamfields">games and publishers</span> with this game</label>
                  </div>
              </div>
            <div style="padding: 5% 1% 0% 0%; text-align: right">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Options</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" onclick="sort('A-Z');">A-Z</button>
                  <button class="dropdown-item" onclick="sort('Z-A');">Z-A</button>
                  <button class="dropdown-item" onclick="sort('board games, genres, publishers');">games, genres, publishers</button>
                  <button class="dropdown-item" onclick="sort('publishers, genres, board games');">publishers, genres, games</button>

                </div>
              </div>
            </div>
            <div class="row" style = "padding: 3% 0%; text-align: right">
              <div class="col" style="text-align: right">
                <ul class="pagination" style="overflow: auto; text-align: right">
                  <li>Problem if you see this</li>
                </ul>
              </div>
              <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                {% for g in exactmatches['boardgames'] %}
                <tr class = 'gamerow'>
                  <td class="name text-center" style="width: 50%">
                    <form action="/game" method = "POST"><button type="submit" class="btn btn-link" name="gamename" id="gamename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button></form>
                    <p>Players: <span  class = 'gminplayers'>{{g["Min_Players"]}}</span> to <span  class = 'gmaxplayers'>{{g["Max_Players"]}}</span>
                      <br>Play time: <span  class = 'gminplaytime'>{{g["Min_Playtime"]}}</span> to <span  class = 'gmaxplaytime'>{{g["Max_Playtime"]}}</span> minutes
                      <br> For players <span class = 'gminage'>{{g["Min_Age"]}}</span> and up
                    </p>
                  </td>
                  <td class="image"><img src='{{g["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="model text-right"><strong>Board Game</strong></td>
                </tr>
                {% endfor %}
                {% for g in exactmatches['genres'] %}
                <tr class = 'genrerow'>
                  <td class="name text-center">
                    <form action="/genre" method = "POST"><button type="submit" class="btn btn-link" title="main" name="genrename" id="genrename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button></form>
                      <p>Games take on average <span class = 'genplaytime'>{{g["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'genminplayers'>{{g["Average_Min_Players"]}}</span> to <span  class = 'genmaxplayers'>{{g["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img src='{{g["Image_URL"]}}' style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="model text-right"><strong>Genre</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for p in exactmatches['publishers'] %}
                <tr class = 'publisherrow'>
                  <td class="name text-center">
                    <form action="/publisher" method = "POST"><button type="submit" class="btn btn-link" title="main" name="publishername" id="publishername" value='{{p["Name"]}}'><strong>{{p['Name']}}</strong></button></form>
                    <p>Games take on average <span class = 'pplaytime'>{{p["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'pminplayers'>{{p["Average_Min_Players"]}}</span> to <span  class = 'pmaxplayers'>{{p["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img src='{{p["Image_URL"]}}' style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="model text-right"><strong>Publisher</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for w in partialmatches.keys() %}
                {% for g in partialmatches[w]['boardgames'] %}
                <form action="/game" method = "POST">
                <tr class = "gamerow">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="gamename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button><br>
                      <p>Number of Players: <span  class = 'gminplayers'>{{g["Min_Players"]}}</span> to <span  class = 'gmaxplayers'>{{g["Max_Players"]}}</span>
                      <br>Game Playtime: <span  class = 'gminplaytime'>{{g["Min_Playtime"]}}</span> to <span  class = 'gmaxplaytime'>{{g["Max_Playtime"]}} minutes</span>
                        <br> For players <span class = 'gminage'>{{g["Min_Age"]}}</span> and up
                      </p>
                    </td>
                  <td class="image"><img src='{{g["Image_URL"]}}' style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="model text-right"><strong>Board Game</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for g in partialmatches[w]['genres'] %}

                <tr class = "genrerow">
                    <td class="name text-center">
                      <form action="/genre" method = "POST"><button type="submit" class="btn btn-link" name="genrename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button></form>
                      <p>Games take on average <span class = 'genplaytime'>{{g["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'genminplayers'>{{g["Average_Min_Players"]}}</span> to <span  class = 'genmaxplayers'>{{g["Average_Max_Players"]}}</span> players
                      </p>
                    </td>
                  <td class="image"><img src='{{g["Image_URL"]}}' style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="model text-right"><strong>Genre</strong></td>
                </tr>
                {% endfor %}
                {% for p in partialmatches[w]['publishers'] %}

                <tr class = 'publisherrow'>
                  <td class="name text-center"><form action="/publisher" method = "POST"><button type="submit" class="btn btn-link" name="publishername" value='{{p["Name"]}}'><strong>{{p['Name']}}</strong></button></form>
                    <p>Games take on average <span class = 'pplaytime'>{{p["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'pminplayers'>{{p["Average_Min_Players"]}}</span> to <span  class = 'pmaxplayers'>{{p["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img src='{{p["Image_URL"]}}' style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="model text-right"><strong>Publisher</strong></td>
                </tr>
                </form>
                {% endfor %}
                {%endfor%}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}