{% extends 'base.html' %}

{% block head %}
    <title>Search Results for "{{input_string}}"</title>
{% endblock %}
{% block bodywithmargin %}
<div class="container" style ="padding: 15% 0%">
  <div class="row">
    <div class="col-md-12">
      <div class="grid">
      <div class="grid-body">
        <div class="row">
          <div class="col-md-3">
            <h2>Filter Results</h2>
            <h4>Show only:</h4>
            <div class="modelfilter">
              <label><input type="checkbox">  board games</label>
            </div>
            <div class="modelfilter">
              <label><input type="checkbox">  genres</label>
            </div>
            <div class="modelfilter">
              <label><input type="checkbox">  publishers</label>
            </div>
          </div>
          <div class="col-md-9">
            <h2>Search Results for "{{input_string}}"</h2>
            <hr>
              <form class="input-group" action ="/search" method="POST">
                <input class="form-control mr-sm-2" type="text" placeholder="Search games, genres, publishers" name="search" style="width:300px">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
              </form>
            <div class="padding"></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="sort_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-link" title="list" >normal</button>
                    <button class="btn btn-link" title="list" >alphabetical</button>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                {% for g in exactmatches['boardgames'] %}
                <form action="/game" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="gamename" id="gamename" value='{{g["Name"]}}'><h4>{{g['Name']}}</h4></button></td>
                  <td class="image" style="width: 25%"><img src='{{g["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="text-right"><strong>Board Game</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for g in exactmatches['genres'] %}
                <form action="/genre" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" title="main" name="genrename" id="genrename" value='{{g["Name"]}}'><h3>{{g['Name']}}</h3></button></td>
                  <td class="image" style="width: 25%"><img src='{{g["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="text-right"><strong>Genre</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for p in exactmatches['publishers'] %}
                <form action="/publisher" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" title="main" name="publishername" id="publishername" value='{{p["Publisher"]}}'><h3>{{p['Publisher']}}</h3></button></td>
                  <td class="image" style="width: 25%"><img src='{{p["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{input_string}}"</td>
                  <td class="text-right"><strong>Publisher</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for w in partialmatches.keys() %}
                {% for g in partialmatches[w]['boardgames'] %}
                <form action="/game" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="gamename" value='{{g["Name"]}}'><h3>{{g['Name']}}</h3></button></td>
                  <td class="image" style="width: 25%"><img src='{{g["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="text-right"><strong>Board Game</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for g in partialmatches[w]['genres'] %}
                <form action="/genre" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="genrename" value='{{g["Name"]}}'><h3>{{g['Name']}}</h3></button></td>
                  <td class="image" style="width: 25%"><img src='{{g["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="text-right"><strong>Genre</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for p in partialmatches[w]['publishers'] %}
                <form action="/publisher" method = "POST">
                <tr style = "max-height:20%">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="publishername" value='{{p["Name"]}}'><h3>{{p['Name']}}</h3></button></td>
                  <td class="image" style="width: 25%"><img src='{{p["Image_URL"]}}' alt="" style="max-width: 100%"></td>
                  <td class="keywords"><strong>Keywords Matched:</strong><br>"{{w}}"</td>
                  <td class="text-right"><strong>Publisher</strong></td>
                </tr>
                </form>
                {% endfor %}
                {%endfor%}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}