{% extends 'base.html' %}
{% block head %}
<title>Search Results for "{{input_string}}"</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var filtered_results;
      var current_page;
      var page_count;
      var sorttype;
      $(document).ready(function() {
        filtered_results = $('tr.gamerow,tr.genrerow,tr.publisherrow'); //setting up pagination
        paginationupdate();
        $('.searchfilters').hide(); //hide advanced search features
        //default checking different model filter checkboxes depending on the search's model_type
        if ('{{modeltype}}' == 'boardgames') {
          $('.showgenres,.showpublishers').parent().hide();
          $('.showgames').prop("checked", true);
        } else if ('{{modeltype}}' == 'genres') {
          $('.showgames,.showpublishers').parent().hide();
          $('.showgenres').prop("checked", true);
        } else if ('{{modeltype}}' == 'publishers') {
          $('.showgenres,.showgames').parent().hide();
          $('.showpublishers').prop("checked", true);
        } else {
          $('.showpublishers,.showgames,.showgenres').prop("checked", true);
        }

        //user toggled advance search or search model
        $('#searchtoggle,#modelselect').change( function(){
          if($('#searchtoggle').prop("checked")==true){
            $('.searchfilters').show();
            $('.searchfilters').find('input').prop("checked", false);
            if($('#modelselect option:selected').val() == "boardgames"){
              $('.search-filter-notgame').hide();
              $('.search-filter-notgenre,.search-filter-notpublisher').show();
              $('#pubfields,#genfields').text('board games');
            }
            else if($('#modelselect option:selected').val() == "genres"){
              $('.search-filter-notgenre').hide();
              $('.search-filter-notgame,.search-filter-notpublisher').show();
              $('#pubfields,#gamfields').text('genres');
            }
            else if($('#modelselect option:selected').val() == "publishers"){
              $('.search-filter-notpublisher').hide();
              $('.search-filter-notgame,.search-filter-notgenre').show();
              $('#genfields,#gamfields').text('publishers');
            }
            else{
              $('.search-filter-notgame,.search-filter-notgenre,.search-filter-notpublisher').show();
              $('#genfields').text('games and publishers');
              $('#gamfields').text('genres and publishers');
              $('#pubfields').text('games and genres');
            }
          }
          else{
            $('.searchfilters').hide();
            $('.searchfilters').find('input').prop("checked", false);
          }
        })
        $('#searchbypublisherfield,#searchbygamefield,#searchdescriptions,#searchnames, #searchbygenrefield').click(function(){
          var fields = []
          if($('#searchnames').prop("checked")== true)
            fields.push('Name');
          if($('#searchdescriptions').prop("checked")== true)
            fields.push('Description');
          if($('#searchbygamefield').prop("checked")== true)
            fields.push('Games');
          if($('#searchbygenrefield').prop("checked")== true)
            if($('#modelselect option:selected').val() == "publishers")
              fields.push('Genres');
            else
              fields.push('genres')
          if($('#searchbypublisherfield').prop("checked")== true)
            if($('#modelselect option:selected').val() == "genres")
              fields.push('Publishers');
            else
              fields.push('Publisher')
          $('input[name="fields"]').val(fields);
          if (fields == [])
            $('input[name="fields"]').val('all');
        });
        //user has changed what model_types they want to see on the results page
        $('.showgames,.showgenres,.showpublishers').click(function () {
          handlemodelfilters();
          handlefieldfilters();
          paginationupdate();
        });
        $('#age').change(function () {
          $('#ageval').text($('#age').val());
          if($('.gameagefilter').prop("checked")==false)
            return; // if filter is not applied results do not change
          handlemodelfilters();
          handlefieldfilters();
        });
        $('#players').change(function () {
          $('#playernumber').text($('#players').val());
          if($('.gameplayersfilter').prop("checked")==false)
            return; // if filter is not applied results do not change
          handlemodelfilters();
          handlefieldfilters();
        });
        $('.gameplayersfilter,.gameagefilter').click(function () {
          handlemodelfilters();
          handlefieldfilters();
        });
      });
      //updates filtered results to hold what we need
      function handlemodelfilters(){
        $('tr.gamerow,tr.genrerow,tr.publisherrow').hide();
        if ($('.showgames').prop("checked") == true)
          $('.gamerow').show();
        if ($('.showgenres').prop("checked") == true)
          $('.genrerow').show();
        if ($('.showpublishers').prop("checked") == true)
          $('.publisherrow').show();
        filtered_results = $('tr.gamerow:visible,tr.genrerow:visible,tr.publisherrow:visible');
      }
      function handlefieldfilters(){
        filtered_results.each( function() {
          if($(this).attr("class")=="gamerow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.gminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.gmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
            if($('.gameagefilter').prop("checked")==true){
              if (parseInt($(this).find('.gminage').text()) > $('#age').val()){
                  $(this).hide();
              }
            }
          }
          else if($(this).attr("class")=="genrerow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.genminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.genmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
          }
          else if($(this).attr("class")=="publisherrow"){
            if($('.gameplayersfilter').prop("checked")==true){
              if ((parseInt($(this).find('.pminplayers').text()) > $('#players').val()) | (parseInt($(this).find('.pmaxplayers').text()) < $('#players').val())){
                  $(this).hide();
              }
            }
          }
        });
        filtered_results = $('tr.gamerow:visible,tr.genrerow:visible,tr.publisherrow:visible');
        sort(sorttype);
        paginationupdate();
      }
      function paginationupdate(){
        $('#resultcount').text(filtered_results.length);
        page_count = Math.ceil(filtered_results.length/9);
        $('.pagination').children().remove();
        $('.pagination').append('<li class="page-item" name = "prev"><button class="btn btn-info" onclick="prevpage();">Previous</button></li>');
        for (let p = 1; p <= page_count; p++){
          $('.pagination').append('<li class="page-item"><button id = "'+p +'" class="btn btn-info" onclick="pagechange('+p+');">'+p+'</button></li>');
        }
        $('.pagination').append('<li class="page-item" name = "next"><button class="btn btn-info" onclick="nextpage();">Next</button></li>');
        pagechange(1);
      }
      function nextpage() {
        if (current_page<page_count){
            current_page +=1;
            pagechange(current_page);
        }
      }
      function prevpage(){
        if (current_page>1) {
          current_page -= 1;
          pagechange(current_page);
        }
      }
      function pagechange(p){
        filtered_results.slice(0,(p-1)*9).hide();
        filtered_results.slice((p-1)*9,p*9).show();
        filtered_results.slice((p)*9,filtered_results.length).hide();
        $('.pagination').find('.btn-outline-info').removeClass('btn-outline-info').addClass('btn-info');
        $('.pagination').find("#"+p).removeClass('btn-info').addClass('btn-outline-info');
        current_page = p;
      }
      function sort(type){
        sorttype = type;
        if(type == 'A-Z'){
          filtered_results.sort(function(a,b){
            return $('td:first',a).find('strong').text().localeCompare($('td:first',b).find('strong').text());
          }).appendTo($('tbody'));
        }
        else if(type == 'Z-A'){
          filtered_results.sort(function(a,b){
            return $('td:first',b).find('strong').text().localeCompare($('td:first',a).find('strong').text());
          }).appendTo($('tbody'));
        }
        else if(type == "board games, genres, publishers"){
          filtered_results.show();
          var publishers = $('.publisherrow:visible');
          var genres = $('.genrerow:visible');
          var games = $('.gamerow:visible');
          $('tbody').prepend(games,genres,publishers);
          filtered_results = $('tr.gamerow:visible,tr.genrerow:visible,tr.publisherrow:visible');
        }
        else if(type == "publishers, genres, board games") {
          filtered_results.show();
          var publishers = $('.publisherrow:visible');
          var genres = $('.genrerow:visible');
          var games = $('.gamerow:visible');
          $('tbody').prepend(publishers,genres,games);
          filtered_results = $('tr.gamerow:visible,tr.genrerow:visible,tr.publisherrow:visible');
        }
        paginationupdate();
      }
    </script>
  <style>
    .keywords{
      width: 25%;
      text-align: center;
    }
    tr{
      max-height: 10%;
    }
    td.name{
      width: 40%;
    }
    td.model{
      width: 15%;
      text-align: center;
    }
    td.image{
      width: 20%;
    }
    td.image img{
      max-width: 100%;
    }
  </style>
{% endblock %}
{% block bodywithmargin %}
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <h2>Filter Search Results</h2>
        <hr>
        <div class = "modelfilters">
          <h4>Show only:</h4>
          <div class="modelfilter">
            <label><input type="checkbox" class="showgames">  board games</label>
          </div>
          <div class="modelfilter">
            <label><input type="checkbox" class="showgenres">  genres</label>
          </div>
          <div class="modelfilter">
            <label><input type="checkbox" class = "showpublishers">  publishers</label>
          </div>
        </div>
        <hr>
        <div class="fieldfilters">
          <h4>Filter by:</h4>
          <div class ="fieldfilter">
            <label for="players">Playable with <span id = "playernumber">5</span> players</label>
            <input type="range" id="players" min="1" max="10">
            <label><input type= "checkbox" class="gameplayersfilter"> Apply filter</label>
          </div>
          <div class ="fieldfilter">
            <label for="age">Playable for a <span id = "ageval">9</span> year old</label>
            <input type="range" id="age" min="1" max="18">
            <label><input type= "checkbox" class="gameagefilter"> Apply filter</label>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h2><span id="resultcount"></span> Search Results for "{{input_string}}"</h2>
        <hr>
        <form class="input-group" action ="/search" method="POST">
          <select class="custom-select" name="modeltype" id = "modelselect">
            <option selected value='all'>all games, genres, and publishers</option>
            <option value='boardgames'>board games</option>
            <option value='genres'>genres</option>
            <option value='publishers'>publishers</option>
          </select>
          <input class="form-control mr-sm-2" type="text" placeholder='' name="search">
          <button class="btn btn-outline-info my-sm-0" type="submit">Search</button>
          <input type="hidden" name = "fields" value = "all" style="display: none">
        </form>
        <div class = "search-filtering-menu">
          <div class = "advanced-search-menu">
            <input type="checkbox" id="searchtoggle">
            <label for="searchtoggle">Advanced Search</label>
          </div>
            <div class = "searchfilters">
              <div class = "search-filter-all">
              <input type="checkbox" id="searchnames">
              <label class="form-check-label" for="searchnames">Search Titles and Names</label>
            </div>
            <div class="search-filter-all">
              <input type="checkbox" id="searchdescriptions">
            <label class="form-check-label" for="searchdescriptions">Search Descriptions</label>
            </div>
              <div class = "search-filter-notpublisher">
              <input type="checkbox" id="searchbypublisherfield">
                <label class="form-check-label" for="searchbypublisherfield">Search <span id="pubfields">games and genres</span> with this publisher</label>
              </div>
              <div class = "search-filter-notgenre">
                <input type="checkbox" id="searchbygenrefield">
            <label class="form-check-label" for="searchbygenrefield">Search <span id="genfields">games and publishers</span> with this genre</label>
              </div>
              <div class = "search-filter-notgame">
                <input type="checkbox" id="searchbygamefield">
            <label class="form-check-label" for="searchbygamefield">Search <span id="gamfields">games and publishers</span> with this game</label>
              </div>
            </div>
        </div>
        <div class = "row" style="text-align: right">
          <div class="col-md-10"></div>
          <div class = "col-md-2">
            <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort Options</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" onclick="sort('A-Z');">A-Z</button>
              <button class="dropdown-item" onclick="sort('Z-A');">Z-A</button>
              <button class="dropdown-item" onclick="sort('board games, genres, publishers');">games, genres, publishers</button>
              <button class="dropdown-item" onclick="sort('publishers, genres, board games');">publishers, genres, games</button>
            </div>
          </div>
          </div>
        </div>
        <div class="row" style = "text-align: right">
          <div class="col-md-12" style="text-align: right">
            <ul class="pagination" style="overflow: auto; text-align: right">
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr style = "text-align: center">
                  <th scope="col">Result</th>
                  <th scope="col">Image</th>
                  <th scope="col">Result contains</th>
                  <th scope="col">Result Type</th>
                </tr>
              </thead>
              <tbody>
                {% for g in exactmatches['boardgames'] %}
                <tr class = 'gamerow'>
                  <td class="name text-center">
                    <form action="/game" method = "POST"><button type="submit" class="btn btn-link" name="gamename" id="gamename" value='{{g["Name"]}}'>
                      <strong>{{g['Name']}}</strong></button></form>
                    <p>Players: <span class = 'gminplayers'>{{g["Min_Players"]}}</span> to <span  class = 'gmaxplayers'>{{g["Max_Players"]}}</span>
                      <br>Play time: <span class = 'gminplaytime'>{{g["Min_Playtime"]}}</span> to <span  class = 'gmaxplaytime'>{{g["Max_Playtime"]}}</span> minutes
                      <br> For players <span class = 'gminage'>{{g["Min_Age"]}}</span> and up
                    </p>
                  </td>
                  <td class="image"><img class = 'instance-image' src='{{g["Image_URL"]}}' alt=""></td>
                  <td class="keywords">"{{input_string}}"</td>
                  <td class="model"><strong>Board Game</strong></td>
                </tr>
                {% endfor %}
                {% for g in exactmatches['genres'] %}
                <tr class = 'genrerow'>
                  <td class="name text-center">
                    <form action="/genre" method = "POST"><button type="submit" class="btn btn-link" title="main" name="genrename" id="genrename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button></form>
                      <p>Games take on average <span class = 'genplaytime'>{{g["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'genminplayers'>{{g["Average_Min_Players"]}}</span> to <span  class = 'genmaxplayers'>{{g["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img  class = 'instance-image' src='{{g["Image_URL"]}}'></td>
                  <td class="keywords">"{{input_string}}"</td>
                  <td class="model"><strong>Genre</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for p in exactmatches['publishers'] %}
                <tr class = 'publisherrow'>
                  <td class="name text-center">
                    <form action="/publisher" method = "POST"><button type="submit" class="btn btn-link" title="main" name="publishername" id="publishername" value='{{p["Name"]}}'><strong>{{p['Name']}}</strong></button></form>
                    <p>Games take on average <span class = 'pplaytime'>{{p["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'pminplayers'>{{p["Average_Min_Players"]}}</span> to <span  class = 'pmaxplayers'>{{p["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img class = 'instance-image' src='{{p["Image_URL"]}}'></td>
                  <td class="keywords"><br>"{{input_string}}"</td>
                  <td class="model"><strong>Publisher</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for w in partialmatches.keys() %}
                {% for g in partialmatches[w]['boardgames'] %}
                <form action="/game" method = "POST">
                <tr class = "gamerow">
                    <td class="name text-center"><button type="submit" class="btn btn-link" name="gamename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button><br>
                      <p>Number of Players: <span  class = 'gminplayers'>{{g["Min_Players"]}}</span> to <span  class = 'gmaxplayers'>{{g["Max_Players"]}}</span>
                      <br>Game Playtime: <span  class = 'gminplaytime'>{{g["Min_Playtime"]}}</span> to <span  class = 'gmaxplaytime'>{{g["Max_Playtime"]}} minutes</span>
                        <br> For players <span class = 'gminage'>{{g["Min_Age"]}}</span> and up
                      </p>
                    </td>
                  <td class="image"><img  class = 'instance-image'  src='{{g["Image_URL"]}}'></td>
                  <td class="keywords">"{{w}}"</td>
                  <td class="model"><strong>Board Game</strong></td>
                </tr>
                </form>
                {% endfor %}
                {% for g in partialmatches[w]['genres'] %}

                <tr class = "genrerow">
                    <td class="name text-center">
                      <form action="/genre" method = "POST"><button type="submit" class="btn btn-link" name="genrename" value='{{g["Name"]}}'><strong>{{g['Name']}}</strong></button></form>
                      <p>Games take on average <span class = 'genplaytime'>{{g["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'genminplayers'>{{g["Average_Min_Players"]}}</span> to <span  class = 'genmaxplayers'>{{g["Average_Max_Players"]}}</span> players
                      </p>
                    </td>
                  <td class="image"><img  class = 'instance-image'  src='{{g["Image_URL"]}}'></td>
                  <td class="keywords">"{{w}}"</td>
                  <td class="model"><strong>Genre</strong></td>
                </tr>
                {% endfor %}
                {% for p in partialmatches[w]['publishers'] %}
                <tr class = 'publisherrow'>
                  <td class="name text-center"><form action="/publisher" method = "POST"><button type="submit" class="btn btn-link" name="publishername" value='{{p["Name"]}}'><strong>{{p['Name']}}</strong></button></form>
                    <p>Games take on average <span class = 'pplaytime'>{{p["Average_Playtime"]}}</span> minutes
                        <br>On average <span  class = 'pminplayers'>{{p["Average_Min_Players"]}}</span> to <span  class = 'pmaxplayers'>{{p["Average_Max_Players"]}}</span> players
                      </p>
                  </td>
                  <td class="image"><img  class = 'instance-image'  src='{{p["Image_URL"]}}'></td>
                  <td class="keywords">"{{w}}"</td>
                  <td class="model"><strong>Publisher</strong></td>
                </tr>
                {% endfor %}
                {%endfor%}
              </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
</div>
  </div>
</div>
{% endblock %}