{% extends 'genres.html' %}

{% block title %}Word Games{% endblock %}
{% block latestgame %}{% endblock %}
{% block image %}<img width="100%" src="https://amp.thenational.ae/image/policy:1.993885:1584454976/ac16-MAR-board-game-scrabble.jpg?f=16x9&w=1200&$p$f$w=00082c2"> {% endblock %}
{% block publisher %}<a href="/Hasbro">Hasbro</a>{% endblock %}
{% block game %}<a href="/Scrabble">Scrabble</a>{% endblock %}
{% block name %}<h2>Word Games</h2>{% endblock %}
{% block description %}<a>Word games often require players to competitively use their knowledge of language. Language knowledge in Word games is often focused on spelling and definitions.</a> {% endblock %}


